.impressum-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Automatische Spaltenanzahl, abhängig von der Breite */
  gap: 20px; 
  background-color: var(--background-color);
  margin-left: 10%;
}






.impressum-title {
  font-size: clamp(1.5rem, 2vw, 4rem);
  color: var(--secondary-color);
 
}


.impressum-subtitle {
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  font-weight: bold;
  color: var(--font-color);
 
}

.impressum-name,
.impressum-address,
.impressum-city,
.impressum-tel,
.impressum-email {
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  color: var(--font-color);
}

.impressum-tel,
.impressum-email{
  color: var(--secondary-color);
}


.impressum-register-title {
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  font-weight: bold;
  color: var(--font-color);

}

.impressum-register-number {
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  color: var(--font-color);
}

.rights{
  font-size: clamp(0.5rem, 1vw, 2rem);
  text-align: center;
  margin-top: 2%;

}


