/* Gesamtes Layout */
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 8px;
  margin-bottom: 70PX;

}

/* Textbereich */
.contact-text {
  flex: 1;
  text-align: left;
  padding-right: 20px;
}

.contact-title {

  margin-bottom: 20px;
}

.contact-description {
  font-size: clamp(1.2em, 1.5vw, 2.5em);
  line-height: 1.5;
  margin-bottom: 30px;
}

.contact-info {
  margin-top: 20px;
}

/* Einzelne Kontaktinformationen */
.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-icon {
  
  margin-right: 20px;
  margin-bottom: 10px;
  color: var(--primary-color);
  font-size: clamp(1.2em, 2vw, 2.5em);
}



.contact-detail {
  font-size: clamp(1.2em, 1.5vw, 2.5em);
  
}

/* Bildbereich */
.contact-image {
  flex: 1;
  text-align: center;
}

.image {
  max-width: 100%;
  border-radius: 50%; /* Rundes Bild */
  object-fit: cover;
}

@media (max-width: 600px){
  .contact-container{
    margin-bottom: auto;
  }
  .contact-image{
    display: none;
  }
}
