@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary-color: #ffb703; 
  --secondary-color: #5678d6;
  --tertiary-color: #021b3a;
  --background-color: #0b0c10;
  --background-color-light:#363b4d;
  --font-color: #c5c6c7;
  --font-color-grey: #888888;
}

html{
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: "Philosopher", sans-serif;
  
}


body {
  margin: 0;
  font-family: "Philosopher", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
